PORT=3000
NODE_ENV=development
DATABASE_PATH=data/transcriber.db
LOG_FILE_PATH=logs/app.log
LOG_LEVEL=info
ADMIN_USERNAME=admin
ADMIN_PASSWORD=
TRANSCRIBER_BOT_USERNAME=speech_transcriber_bot
TRANSCRIBER_TIMEOUT_SECONDS=180
TRANSCRIBER_POLL_INTERVAL_MS=1000
TELEGRAM_BOT_TOKEN=8744162949:AAEpTh1PoPSn1RD6CrANeoH6TuX4qZWeev4
TELEGRAM_API_ID=14723883
TELEGRAM_API_HASH=be3a4af0af653e8da8f2abbee9b2137e
TELEGRAM_USER_PHONE=+380951456705
TELEGRAM_SESSION=
TELEGRAM_SESSION_STRING=
GEMINI_API_KEY=